* {
  box-sizing: border-box;
}

:root {
  --clr-master: #00c3ff;
  --clr-slave: #3dd2ff;
  --clr-white: #fdfeff;
  --clr-black: #234;
}

a,
button,
select,
option,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

html {
  font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
  color: var(--clr-black);
}

.row {
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
}
.row > * {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  font-size: 1rem;
  white-space: normal;
  overflow: hidden;
}

.pave {
  text-align: center;
}
.pave > * {
  display: inline-block;
  margin: 5px;
  overflow: hidden;
  text-align: left;
}

.main {
  min-width: 300px;
}

.field_text {
  width: 250px;
  margin: 0 auto;
  padding: 5px;
  text-align: left;
}
.field_text > input {
  width: 100%;
  color: var(--clr-black);
}

.field_button {
  width: 250px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

.shifter {
  width: 200px;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(45deg, var(--clr-slave), var(--clr-master));
  color: var(--clr-white);
  user-select: none;
}

.shifter > div {
  background-color: var(--clr-slave);
}

.shifter progress,
.shifter button,
.shifter input,
.shifter ::-webkit-slider-thumb {
  border: none;
  outline: none;
  user-select: none;
  writing-mode: unset;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.shifter input,
.shifter button {
  color: var(--clr-white);
}

.shifter [type='text'] {
  width: calc(100% - 60px);
  height: 40px;
  background-color: transparent;
  text-align: center;
  font-weight: bold;
}

.shifter button {
  width: 30px;
  height: 40px;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

.shifter progress,
.shifter [type='range'] {
  width: 100%;
}

.shifter label {
  display: inline-block;
  width: 100%;
  border-radius: 6px;
  background: var(--clr-slave);
  text-align: center;
}

.shifter [type='range'] {
  height: 19px;
  /* overflow: visible; */
  border-radius: 6px;
  /* background: transparent; */
  background: var(--clr-slave);
}
.shifter [type='range']::-webkit-slider-thumb {
  width: 19px;
  height: 19px;
  border: none;
  border-radius: 50%;
  background: var(--clr-white);
  cursor: pointer;
}
.shifter [type='range']::-moz-range-thumb {
  width: 19px;
  height: 19px;
  border: none;
  border-radius: 50%;
  background: var(--clr-white);
  cursor: pointer;
}

.shifter progress {
  height: 16px;
  overflow: hidden;
  border-radius: 15px;
  background: var(--clr-slave);
  color: var(--clr-white);
}
.shifter progress::-moz-progress-bar {
  background: var(--clr-white);
}
.shifter progress::-webkit-progress-value {
  background: var(--clr-white);
}
.shifter progress::-webkit-progress-bar {
  background: var(--clr-slave);
}
.shifter progress {
  vertical-align: bottom;
  transform: translateY(50%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}
.shifter progress ~ progress {
  vertical-align: top;
  transform: translateY(-50%);
  clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}
.add_shifter {
  width: 300px;
  margin: 10px auto;
  padding: 15px;
  border-radius: 20px;
  background: linear-gradient(45deg, var(--clr-slave), var(--clr-master));
  color: var(--clr-white);
  text-align: center;
}

.add_shifter label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.add_shifter input {
  width: calc(100% - 40px);
  height: 40px;
  margin-bottom: 15px;
  padding: 0 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--clr-slave);
  color: var(--clr-white);
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
}

.add_shifter button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: var(--clr-master);
  color: var(--clr-white);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add_shifter button:hover {
  background-color: var(--clr-slave);
}

.add_shifter input:focus,
.add_shifter button:focus {
  outline: none;
  box-shadow: 0 0 5px var(--clr-white);
}
